/* geral */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* transições */

a, 
.button {
    transition: all 300ms ease;
}

/* navegador desktop */

nav, .links-nav {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.links-nav {
    gap: 32px;
    list-style: none;
    font-size: 24px;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(85, 85, 85);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 32px;
    cursor:default;
}

/* seções */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 160px;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* seção profile */

#profile {
    display: flex;
    justify-content: center;
    gap: 80px;
    height: 80vh;
}

.pic-container_section {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0 ;
}

.text_section {
    align-self: center;
    text-align: center;
}

.text_section p{ 
    font-weight: 600;
}

.text_2_section {
    text-align: center;
    font-size: 28px;
    margin-bottom: 16px;
}

.text_1_section {
    text-align: center;
}

.title {
    font-size: 48px;
    text-align: center;
}

#container_socials {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 16px;
}

/* icones */

.icon {
    cursor: pointer;
    height: 32px;
}

/* botoes */

.container_button {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.button {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 16px;
    width: 120px;
    border-radius: 32px;
}

.button-color1, .button-color2 {
    border: rgb(53, 53, 53) 1.6px solid;
    background-color: transparent;
    z-index: 10;
}

.button-color2 {
    background-color: rgb(53, 53, 53);
    color: white;
}

.button-color1:hover {
    background-color: rgb(119,144,189);
    border: rgb(93, 116, 158) 1.6px solid;
    color: white;
    cursor: pointer;
}

.button-color2:hover {
    background-color: rgb(23, 23, 23);
    color: rgb(235, 235, 235);
    cursor: pointer;
}

/* seção sobre mim */

#about {
    position: relative;
}

.container_about {
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.container_about_details {
    justify-content: center;
    flex-direction: column;
}

.container_about, .container_about_details {
    display: flex;
}

.arrow {
    height: 20px;
    position: absolute;
    right: -80px;
    bottom: 40px;
}

.container_details {
    padding: 20px;
    flex: 1;
    background: white;
    border-radius: 32px;
    border: rgb(53, 53, 53) 1.6px solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 64px;
    height: 80%;
}

.container_about .icon {
    cursor: default;
}

/* seção experiencia */

#experience {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.experience-subtitle {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 32px;
}

.container_experience_details {
    display: flex;
    justify-content: center;
    flex-direction: column
}

.container_articles {
    display: grid; /* Trocar de flex para grid */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsivo */
    gap: 32px; /* Espaço uniforme */
    justify-items: center; /* Centraliza os itens */
    align-items: center; /* Alinha verticalmente */
    padding: 20px; /* Espaçamento interno */
}

article {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px; /* Espaçamento entre ícone e texto */
    width: 100%;
    justify-content: center;
}

article .icon {
    cursor: default;
    width: 40px;
    height: 40px;
}

/* seção projetos */

#projects {
    position: relative;
}

.container_color {
    background-color: rgb(255, 255, 255);
    border-color: rgb(163, 163, 163);
}

.project-img {
    border-radius: 32px;
    width: 65%;
    height: 65%;
}

.project-title {
    margin: 16px;
    color: black;
}

.project-description {
    padding-bottom: 20px;
    font-size: 14px;
}

.bx{
    font-size: 50px;
    padding-top: 10px;
}

/* seção contato */

#contact {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.container_contact {
    display: flex;
    justify-content: center;
    margin: 32px auto;
    padding: 8px;
}

.info {
    font-size: larger;
    display: flex;
}

.contact-info {
    display: flex;
    flex-direction: row;
    margin: 8px;
    gap: 8px;
    align-items: center;
}

.email-icon {
    height: 40px;
}

.contact-icon {
    cursor: default;
}

.contact_link {
    font-size: 48px;
}

/* seção rodapé */

footer {
    height: 26vh;
    margin: 0 16px;
}

footer p {
    text-align: center;
}